{% extends "admin/layout/crud-layout.html.twig" %}

{% block title %}
	{{appName}}
	- Groupes Utilisateurs
{% endblock %}

{% block page_content %}

	<div class="row align-items-center">
		<div class="col-md-6 col-4">
			<div class="mb-3">
				<h5 class="card-title">Liste des groupes utilisateurs
					<span class="text-muted fw-normal ms-2"></span>
				</h5>
			</div>
		</div>

		<div class="col-md-6 col-8">
			<div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
				{# <div>
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="nav-link active" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="List">
								<i class="bx bx-list-ul"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Grid">
								<i class="bx bx-grid-alt"></i>
							</a>
						</li>
					</ul>
				</div> #}
				<div onclick="userGroup.newItemEvent(event)">
					<a href="javascript:void(0);" class="btn btn-light" data-bs-toggle="modal" data-bs-target=".add-new-modal">
						<i class="bx bx-plus me-1"></i>
						Nouvel Ajout</a>
				</div>

				<div class="dropdown">
					<a class="btn btn-link text-muted py-1 font-size-16 shadow-none dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bx bx-dots-horizontal-rounded"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-end">
						<li>
							<a class="dropdown-item" onclick="userGroup.reloadDatatable(event)" href="javascript:void(0);">Actualiser</a>
						</li>
						{# <li>
							<a class="dropdown-item" href="javascript:void(0);">Autre action</a>
						</li>
						<li>
							<a class="dropdown-item" href="javascript:void(0);">Quelque chose d'autre ici</a>
						</li> #}
					</ul>
				</div>
			</div>

		</div>
	</div>
	<!-- end row -->

	<div class="table-responsive mb-4">
		<table class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
			<thead>
				<tr>
					<th>
						<div class="form-check font-size-16">
							<input type="checkbox" class="form-check-input" id="checkAll">
							<label class="form-check-label" for="checkAll"></label>
						</div>
					</th>
					<th>Réf.</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Rôle</th>
					<th style="width: 80px; min-width: 80px;">Action</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<!-- end table -->
	</div>
	<!-- end table responsive -->

	<div class="modal fade add-new-modal" id="add-new-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<form method="post" class="" {#onsubmit="userGroup.submitFormData(event)"#} >
					<div class="modal-header">
						<h5 class="modal-title">Nouvel ajout</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<div class="mb-3 position-relative">
									<input type="hidden" id="item-id" name="item-id" value="">
									<label class="form-label" for="name">Nom</label>
									<input type="text" id="name" name="name" class="form-control" placeholder="Le nom du groupe" required>
								</div>
							</div>														
						</div>
						<div class="row">								
							<div class="col-md-12">
								<div class="mb-3 position-relative">
									<label class="form-label" for="description">Description</label>
									<input type="text" id="description" name="description" class="form-control" placeholder="La description du groupoe" required>
								</div>
							</div>
						</div><div class="row">							
							<div class="col-md-12">
								<div class="mb-3 position-relative">
									<label for="role" class="form-label">Rôle</label>
									<select data-trigger required class="form-control form-select" data-trigger name="role" id="role" placeholder="chercher...">
										<option value="" selected>Sélectionner</option>
										{% if authUser.sa %}
											<option value="SUPER_ADMIN">Super Administrateur</option>
										{% endif %}										
										<option value="ADMIN">Administrateur</option>
										<option value="SECRETAIRE">Vendeur</option>
										<option value="VENDEUR">Secrétaire</option>
										<option value="COMPTABLE">Comptable</option>
										<option value="USER">Autre</option>
									</select>
								</div>
							</div>							
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
						{# <button class="btn btn-primary" type="submit">Enregistrer</button> #}
						<button type="button" class="btn btn-primary submit-button">Enregistrer</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<div class="modal fade show-item-modal" id="show-item-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Affichage</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
                        <table class="table table-nowrap align-middle justify-content-center mb-0 item-show-table">
                            {# <thead>
                                <tr>
                                    <th scope="col" style="width: 50%;">
                                        Sweet Alert Type
                                    </th>
                                    <th scope="col" class="text-center">
                                        Sweet Alert Examples
                                    </th>
                                </tr>
                            </thead> #}
                            <tbody>                                                    
                                <tr>
                                    <th scope="row">
                                        Référence
                                    </th>
                                    <td class="text-center td-reference">
                                    </td>
                                </tr>                                                    
                                <tr>
                                    <th scope="row">
                                        Nom
                                    </th>
                                    <td class="text-center td-name">
                                    </td>
                                </tr>                                                    
                                <tr>
                                    <th scope="row">
                                        Description
                                    </th>
                                    <td class="text-center td-description">
                                    </td>
                                </tr>                                                 
                                <tr>
                                    <th scope="row">
                                        Rôle
                                    </th>
                                    <td class="text-center td-role">
                                    </td>
                                </tr>                                                
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
				</div>
				<div class="modal-footer d-flex justify-content-center">
					<button type="button" class="btn btn-info" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

{% endblock %}

{% block page_custom_scripts %}

	<script>
		{% if authUser.sa %}
			URL_LIST_ITEM = "{{url_list_item_sa}}";
		{% endif %}
	</script>

	<!-- init js -->
	<script src="{{ asset('assets/js/custom/access/user-group.init.js') }}"></script>
{% endblock %}
