{% extends "base.html.twig" %}
{% set appName = 'Cauris-iT' %}
{# Menu format #}
{% set menus = [
	{
		id: "topnav-dashboard",
		pathName: "dashboard",
		title: "Tableau de bord",
		icon: "home",
		dataKey: "t-dashboard",
		active: sidebar_code[0] == "TB" ? true : false,
		children: [],
	},
	{
		id: "gestion-stock",
		pathName: "",
		title: "Gestion de Stock",
		icon: "box",
		dataKey: "t-gestion-stock",
		active: sidebar_code[0] == "GSTK" ? true : false,
		children: [
			{
				id: "gstk-categorie-article",
				pathName: "gstk_categorie_article",
				title: "Catégorie Articles",
				dataKey: "t-categorie-rticles",
				active: sidebar_code[1] == "CAP" ? true : false,
				children: [],
			},                            
			{
				id: "gstk-article",
				pathName: "gstk_article",
				title: "Articles",
				dataKey: "t-articles",
				active: sidebar_code[1] == "A/P" ? true : false,
				children: [],
			},
		],
	},
	{
		id: "facture",
		pathName: "",
		title: "Factures",
		icon: "dollar-sign",
		dataKey: "t-facture",
		active: sidebar_code[0] == "FACT" ? true : false,
		children: [
			{
				id: "facture-vente",
				pathName: "facture_vente",
				title: "Facture Ventes",
				dataKey: "t-facture-vente",
				active: sidebar_code[1] == "FACTV" ? true : false,
				children: [],
			},
			{
				id: "gstk-client",
				pathName: "gstk_client",
				title: "Clients",
				dataKey: "t-clients",
				active: sidebar_code[1] == "CLT" ? true : false,
				children: [],
			},                           
		],
	},
	{
		id: "parametres",
		pathName: "",
		title: "Paramètres",
		icon: "settings",
		dataKey: "t-parametres",
		active: sidebar_code[0] == "PARAMS" ? true : false,
		children: [
			{
				id: "taxe",
				pathName: "parametre_taxe",
				title: "Taxe",
				dataKey: "t-params-taxe",
				active: sidebar_code[1] == "TAXE" ? true : false,
				children: [],
			},    
			{
				id: "type-facture",
				pathName: "parametre_type_facture",
				title: "Type de facture",
				dataKey: "t-params-type-facture",
				active: sidebar_code[1] == "TPF" ? true : false,
				children: [],
			}, 
			{
				id: "type-paiement",
				pathName: "parametre_type_paiement",
				title: "Type de paiement",
				dataKey: "t-params-type-paiement",
				active: sidebar_code[1] == "TPP" ? true : false,
				children: [],
			},                       
			{
				id: "users",
				pathName: "parametre_users",
				title: "Utilisateurs",
				dataKey: "t-params-users",
				active: sidebar_code[1] == "USR" ? true : false,
				children: [],
			},
			{
				id: "new_params",
				pathName: "parametre_new",
				title: "Données du système",
				dataKey: "t-params-new",
				active: sidebar_code[1] == "SYST" ? true : false,
				children: [],
			},                       
		],
	},
] %}
{% block body %}
	{# <!-- Begin page --> #}
	<div id="layout-wrapper"> 
		<header id="page-topbar">
			{% block header %}
				{{ include('admin/layout/components/header.html.twig') }}
			{% endblock %}
		</header>

		<div class="topnav">
			{% block left_sidebar %}
				{{ include('admin/layout/components/topnav.html.twig') }}
			{% endblock %}
		</div>
		<!-- Topnav End -->

		{# <!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== --> #}
		<div class="main-content">
			<div class="page-content">
				<div
					class="container-fluid">
					<!-- start page title -->
					{% block page_title %}
						{{ include('admin/layout/components/page-title.html.twig') }}
					{% endblock %}
					<!-- end page title -->
					<!-- start page content -->
					{% block page_content %}{% endblock %}
					<!-- end page content -->
				</div>
			</div>
			{# <!-- End Page-content --> #}


			<footer class="footer">
				{{ include('admin/layout/components/footer.html.twig') }}
			</footer>
		</div>
		{# <!-- end main content--> #}

	</div>
	{# <!-- END layout-wrapper --> #}


	{# <!-- Right Sidebar --> #}
	<div class="right-bar"></div>
	{# <!-- /Right-bar --> #}

	{# <!-- Right bar overlay--> #}
	<div class="rightbar-overlay"></div>

{% endblock %}

{% block global_scripts %}
	{# Les scripts globales à toutes les pages #}	
{% endblock %}
