<form method="post" class="article-expedition" onsubmit="cmdFournisseur.customMessageOncmdFournisseurFormSubmit(event)" onreset="location.href = '';">
    <div class="row">							
        <div class="col-md-4 col-sm-6">
            <div class="row gx-3 gy-2 align-items-center mb-3">
                <div class="col-10">
                    <label for="fournisseur" class="form-label font-size-13 text-muted">Fournisseur</label>
                    <select {{ cmdf_id ? "disabled": "" }} onchange="cmdFournisseur.reloadDatatable(event)" class="form-control form-select" data-trigger name="fournisseur" id="fournisseur" placeholder="chercher..."></select>
                </div>
                <div class="col-2" onclick="cmdFournisseur.fournisseurNewItemEvent(event)">
                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target=".fournisseur-new-modal" class="mt-4 btn btn-outline-primary btn-rounded btn-sm waves-effect waves-light add-fournisseur">
                        <i class="bx bx-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 article-wrapper" id="article-wrapper">
            <div class="row gx-3 gy-2 align-items-center mb-3">
                <div class="col-10">
                    <label for="article" class="form-label font-size-13 text-muted">Article</label>
                    <select onchange="cmdFournisseur.getArticle(event)" class="form-control form-select" data-trigger name="article" id="article" placeholder="chercher..."></select>
                </div>
                <div class="col-2" onclick="cmdFournisseur.articleNewItemEvent(event)">
                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target=".article-new-modal" class="mt-4 btn btn-outline-primary btn-rounded btn-sm waves-effect waves-light add-article">
                        <i class="bx bx-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 d-none expedition-description-wrapper" id="expedition-description-wrapper">
            <div class="mb-3 position-relative">
                <label class="form-label font-size-13 text-muted" for="expedition-description">Description</label>
                <input type="texte" class="form-control" id="expedition-description" name="expedition-description" placeholder="" value="Coût d’expédition et de manutention">
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="mb-3">
                <label for="taxe" class="form-label font-size-13 text-muted">Taxe</label>
                <select class="form-control form-select" data-trigger name="taxe" id="taxe" placeholder="chercher..."></select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3 position-relative">
                <label class="form-label font-size-13 text-muted" for="prix_u">Prix Unitaire HT</label>
                <input onchange="cmdFournisseur.setRemiseFormOnPricesChange(event, true)" type="number" step="1" min="1" class="form-control" id="prix_u" name="prix_u" placeholder="" value="" required>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3 position-relative">
                <label class="form-label font-size-13 text-muted" for="quantite">Quantité</label>
                <input onchange="cmdFournisseur.setMontant(event)" type="number" step="0.01" min="0.01" class="form-control" id="quantite" name="quantite" placeholder="" value="" required>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3 position-relative">
                <label class="form-label font-size-13 text-muted" for="montant">Montant HT</label>
                <input type="number" step="0.01" min="0.01" class="form-control" id="montant" name="montant" placeholder="" value="" required>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Start Remise -->
        <div class="col-sm-12">
            <div class="mb-3">
                <div class="form-check">
                    <input onchange="cmdFournisseur.remiseInputsToggle(event)" class="form-check-input" type="checkbox" id="remise-check">
                    <label class="form-check-label" for="remise-check">
                        <h5 class="font-size-14">
                            <i class="mdi mdi-arrow-right text-primary me-1"></i>Remise</h5>
                    </label>
                </div>
            </div>
            <div class="row" id="remiseInputsToggle">
                <div class="col-sm-3">
                    <div class="mb-3 position-relative">
                        <label class="form-label font-size-13 text-muted" for="remise_taux">Taux (en %)</label>
                        <input type="number" onchange="cmdFournisseur.setRemiseFormOnTauxChange(event)" step="1" min="1" class="form-control" id="remise_taux" name="remise_taux" placeholder="" value="">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mb-3 position-relative">
                        <label class="form-label font-size-13 text-muted" for="remise_prix_u">Prix Unitaire Originale</label>
                        <input onchange="cmdFournisseur.setRemiseFormOnTauxChange(event)" type="number" step="0.001" min="0" class="form-control" id="remise_prix_u" name="remise_prix_u" placeholder="" value="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3 position-relative">
                        <label class="form-label font-size-13 text-muted" for="remise_description">Description remise</label>
                        <input type="texte" class="form-control" id="remise_description" name="remise_description" placeholder="" value="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Remise -->
    </div>
    <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-info waves-effect waves-light">Ajouter</button>
        <button type="reset" class="btn btn-outline-danger waves-effect waves-light btn-sm">Annuler</button>
    </div>
</form>