
<div class="col-xxl-9 col-lg-8 col-md-7">
    <div class="auth-bg pt-md-5 p-4 d-flex">
        <div class="bg-overlay bg-primary"></div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <!-- end bubble effect -->
        <div class="row justify-content-center align-items-center">
            <div class="col-md-9 mt-4 mt-sm-0">
                <div>
                    <p class="mb-2 text-white"><i class="mdi mdi-circle align-middle font-size-10 me-2 text-success"></i>Cauris-iT, votre SFE  approuvé par la DGI : lettre d'approbation N°408MEF/DC/SGM/DGI/CGFN/BAT</p>
                </div>

                {# <div class="mt-4 pt-2">
                    <p class="mb-2 text-white"><i class="mdi mdi-circle align-middle font-size-10 me-2 text-warning"></i>Cauris-iT met fin à la longue liste de factures en attente de transmission</p>
                </div> #}

                <div class="mt-4 pt-2">
                    <p class="mb-2 text-white"><i class="mdi mdi-circle align-middle font-size-10 me-2 text-info"></i>Avec Cauris-iT, vos factures sont normalisées et, de ce fait, transmises instantanément à la DGI</p>
                </div>

                <div class="mt-4 pt-2">
                    <p class="mb-2 text-white"><i class="mdi mdi-circle align-middle font-size-10 me-2"></i>Avec Cauris-iT, prenez en main le contrôle de vos activités de facturation, de vente et d'achat</p>
                </div>

                <div class="mt-4 pt-2">
                    <p class="mb-2 text-white"><i class="mdi mdi-circle align-middle font-size-10 me-2 text-danger"></i>Cauris-iT vous facilite la vie pour vos bilans périodiques. En quelques cliques seulement et le tour est joué</p>
                </div>

                <div class="mt-4 pt-2">
                    <h4 class="mb-2 text-warning text-center">Nous vous souhaitons un bon usage !</h4>
                </div>
            </div>
        </div>
    </div>
</div>