{% extends "admin/layout/crud-layout.html.twig" %}

{% block title %}
	{{appName}}
	- Clients
{% endblock %}

{% block page_content %}

	<div class="row align-items-center">
		<div class="col-md-6">
			<div class="mb-3">
				<h5 class="card-title">Liste des clients
					<span class="text-muted fw-normal ms-2"></span>
				</h5>
			</div>
		</div>

		<div class="col-md-6">
			<div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
				{# <div>
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="nav-link active" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="List">
								<i class="bx bx-list-ul"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Grid">
								<i class="bx bx-grid-alt"></i>
							</a>
						</li>
					</ul>
				</div> #}
				<div onclick="client.newItemEvent(event)">
					<a href="javascript:void(0);" class="btn btn-light" data-bs-toggle="modal" data-bs-target=".add-new-modal">
						<i class="bx bx-plus me-1"></i>
						Nouvel Ajout</a>
				</div>

				<div class="dropdown">
					<a class="btn btn-link text-muted py-1 font-size-16 shadow-none dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bx bx-dots-horizontal-rounded"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-end">
						<li>
							<a class="dropdown-item" onclick="client.reloadDatatable(event)" href="javascript:void(0);">Actualiser</a>
						</li>
						{# <li>
							<a class="dropdown-item" href="javascript:void(0);">Autre action</a>
						</li>
						<li>
							<a class="dropdown-item" href="javascript:void(0);">Quelque chose d'autre ici</a>
						</li> #}
					</ul>
				</div>
			</div>

		</div>
	</div>
	<!-- end row -->

	<div class="table-responsive mb-4">
		<table class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
			<thead>
				<tr>
					<th>
						<div class="form-check font-size-16">
							<input type="checkbox" class="form-check-input" id="checkAll">
							<label class="form-check-label" for="checkAll"></label>
						</div>
					</th>
					<th>Réf.</th>
					<th>Nom</th>
					<th>IFU</th>
					<th>RCM</th>
					<th>Téléphone</th>
					<th>Email</th>
					<th>Adresse</th>
					<th>Ville</th>
					{# <th>Montant</th> #}
					<th style="width: 80px; min-width: 80px;">Action</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<!-- end table -->
	</div>
	<!-- end table responsive -->

	<div class="modal fade add-new-modal" id="add-new-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<form method="post" class="" onsubmit="client.submitFormData(event)" >
					<div class="modal-header">
						<h5 class="modal-title">Nouvel ajout</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">						
							<div class="col-md-12">
								<div class="mb-3 position-relative">
									<label class="form-label" for="name">Nom ou Raison sociale</label>
									<input type="text" id="name" name="name" class="form-control" placeholder="Le nom du client" required>
								</div>
							</div>							
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="mb-3 position-relative">
									<label class="form-label" for="ifu">IFU</label>
									<input type="hidden" id="item-id" name="item-id" value="">
									<input type="text" class="form-control" id="ifu" name="ifu" placeholder="L'IFU du client" value="">
								</div>
							</div>														
						</div>
						<div class="row">						
							<div class="col-md-12">
								<div class="mb-3 position-relative">
									<label class="form-label" for="rcm">RCM</label>
									<input type="text" id="rcm" name="rcm" class="form-control" placeholder="Le numéro rcm du client">
								</div>
							</div>							
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="mb-3 position-relative">
									<label for="telephone" class="form-label">Téléphone</label>
									<div class="input-group">
										<span class="input-group-text" id="telephonePrepend"><i class="mdi mdi-phone"></i></span>
										<input type="tel" pattern="[5-9]{1}[0-9]{1}[0-9]{2}[0-9]{2}[0-9]{2}" class="form-control" id="telephone" name="telephone" placeholder="Le téléphone de l'utilisateur" value="" aria-describedby="telephonePrepend">
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="mb-3 position-relative">
									<label class="form-label" for="email">E-mail</label>
									<div class="input-group">
										<span class="input-group-text" id="emailPrepend"><i class="mdi mdi-email"></i></span>
										<input type="text" id="email" name="email" class="form-control" placeholder="l'e-mail du client" aria-describedby="emailPrepend">
									</div>
								</div>
							</div>
						</div>
						<div class="row">						
							<div class="col-md-12">
								<div class="mb-3 position-relative">
									<label class="form-label" for="address">Adresse</label>
									<input type="text" id="address" name="address" class="form-control" placeholder="L'adresse du client">
								</div>
							</div>							
						</div>
						<div class="row">						
							<div class="col-md-12">
								<div class="mb-3 position-relative">
									<label class="form-label" for="ville">Ville</label>
									<input type="text" id="ville" name="ville" class="form-control" placeholder="La ville du client">
								</div>
							</div>							
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
						{# <button class="btn btn-primary" type="submit">Enregistrer</button> #}
						<button type="submit" class="btn btn-primary">Enregistrer</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<div class="modal fade show-item-modal" id="show-item-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Affichage</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
                        <table class="table table-nowrap align-middle justify-content-center mb-0 item-show-table">
                            {# <thead>
                                <tr>
                                    <th scope="col" style="width: 50%;">
                                        Sweet Alert Type
                                    </th>
                                    <th scope="col" class="text-center">
                                        Sweet Alert Examples
                                    </th>
                                </tr>
                            </thead> #}
                            <tbody>                                                    
                                <tr>
                                    <th scope="row">
                                        Référence
                                    </th>
                                    <td class="text-center td-reference">
                                    </td>
                                </tr>                                                    
                                <tr>
                                    <th scope="row">
                                        Nom
                                    </th>
                                    <td class="text-center td-name">
                                    </td>
                                </tr>                                                    
                                <tr>
                                    <th scope="row">
                                        IFU
                                    </th>
                                    <td class="text-center td-ifu">
                                    </td>
                                </tr>                                                
                                <tr>
                                    <th scope="row">
                                        RCM
                                    </th>
                                    <td class="text-center td-rcm">
                                    </td>
                                </tr>                                                
                                <tr>
                                    <th scope="row">
                                        Téléphone
                                    </th>
                                    <td class="text-center td-telephone">
                                    </td>
                                </tr>                                                
                                <tr>
                                    <th scope="row">
                                        Email
                                    </th>
                                    <td class="text-center td-email">
                                    </td>
                                </tr>                                                
                                <tr>
                                    <th scope="row">
                                        Adresse
                                    </th>
                                    <td class="text-center td-address">
                                    </td>
                                </tr>                                                
                                <tr>
                                    <th scope="row">
                                        Ville
                                    </th>
                                    <td class="text-center td-ville">
                                    </td>
                                </tr>                                                
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
				</div>
				<div class="modal-footer d-flex justify-content-center">
					<button type="button" class="btn btn-info" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

{% endblock %}

{% block page_custom_scripts %}
	<!-- init js -->
	<script src="{{ asset('assets/js/custom/stock/client.init.js') }}"></script>
{% endblock %}
