<div class="table-responsive" id="bilan-recapitulatif">
    <table class="table mb-0">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>Groupe de Taxe</th>
                <th>Total</th>
                <th>Montant HT</th>
                <th>Montant TVA</th>
            </tr>
        </thead>
        <tbody>    
            <tr class="text-center">
                <td colspan="5">Aucune donnée disponible dans le tableau</td>
            </tr>             
        </tbody>
        <tfoot class="table-light">            
        </tfoot>
    </table>
</div>