<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <script>
                var year = new Date().getFullYear()
				document.write(year==2022 ? year : "2022 - " + year)
            </script> © {{appName}}.
        </div>
        <div class="col-sm-6 d-none">
            <div class="text-sm-end d-none d-sm-block">
                Conçu & Développé par <a href="#!" class="text-decoration-underline">alladeson</a>
            </div>
        </div>
    </div>
</div>