<!-- start page title -->
<div class="row">
	<div class="col-12">
		<div class="page-title-box d-sm-flex align-items-center justify-content-between">
			<h4 class="mb-sm-0 font-size-18">{{page_title}}</h4>

			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					{% for item in breadcrumb %}
						{% if loop.last %}
							<li class="breadcrumb-item active">
								{{item}}
							</li>
						{% else %}
							<li class="breadcrumb-item">
								<a href="javascript: void(0);">{{item}}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ol>
			</div>

		</div>
	</div>
</div>
<!-- end page title -->