{% extends "admin/layout/crud-layout.html.twig" %}

{% block title %}
	{{appName}}
	- Liste Factures
{% endblock %}

{% block page_content %}

	{# Filtre #}
	{# <div class="mt-2">
		<h5 class="font-size-14 mb-2">
			<i class="mdi mdi-arrow-right text-primary me-1"></i>
			Filtre : </h5>

		<form class="row gx-3 gy-2 align-items-center">
			<div class="col-sm-2">
				<label class="form-label font-size-13 text-muted" for="date-debut">Début</label>
				<input type="datetime-local" class="form-control" id="date-debut" name="date-debut" placeholder="" value="2019-08-19T07:45:00" required>
			</div>
			<div class="col-sm-2">
				<label class="form-label font-size-13 text-muted" for="date-fin">Fin</label>
				<input type="datetime-local" class="form-control" id="date-fin" name="date-fin" placeholder="" value="2022-08-19T10:15:00" required>
			</div>
			<div class="col-sm-3">
				<label class="form-label font-size-13 text-muted" for="client">Client</label>
				<select required class="form-control form-select" data-trigger name="client" id="client" placeholder="chercher...">
					<option value="">Sélectionner</option>
					<option value="1">Darlene Smith</option>
					<option value="2">James Nix</option>
					<option value="3">Phyllis Gatlin</option>
				</select>			
			</div>
			<div class="col-auto ">
				<button type="submit" class="btn btn-primary mt-4">
					<i class="bx bx-search-alt align-middle"></i>
				</button>
			</div>
		</form>
	</div>
	<br> #}
	{# End Filtre #}

	<div class="row align-items-center">
		<div class="col-md-6">
			<div class="mb-3">
				<h5 class="card-title">
					<span class="text-muted fw-normal ms-2"></span>
				</h5>
			</div>
		</div>

		<div class="col-md-6">
			<div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
				{# <div>
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="nav-link active" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="List">
								<i class="bx bx-list-ul"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Grid">
								<i class="bx bx-grid-alt"></i>
							</a>
						</li>
					</ul>
				</div> #}
				{# <div>
					<a href="javascript:void(0);" class="btn btn-light" data-bs-toggle="modal" data-bs-target=".add-new-modal">
						<i class="bx bx-plus me-1"></i>
						Nouvel Ajout</a>
				</div> #}

				<div class="dropdown">
					<a class="btn btn-link text-muted py-1 font-size-16 shadow-none dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bx bx-dots-horizontal-rounded"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-end">
						<li>
							<a class="dropdown-item" onclick="listeFacture.reloadDatatable(event)" href="javascript:void(0);">Actualiser</a>
						</li>
						{# <li>
							<a class="dropdown-item" href="javascript:void(0);">Autre action</a>
						</li>
						<li>
							<a class="dropdown-item" href="javascript:void(0);">Quelque chose d'autre ici</a>
						</li> #}
					</ul>
				</div>
			</div>

		</div>
	</div>
	<!-- end row -->

	<div class="table-responsive mb-4">
		<table data-order='[[1, "desc"]]' class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
			<thead>
				<tr>
					<th scope="col" style="width: 50px;">
						<div class="form-check font-size-16">
							<input type="checkbox" class="form-check-input" id="checkAll">
							<label class="form-check-label" for="checkAll"></label>
						</div>
					</th>
					<th scope="col">#</th>
					<th scope="col">Type</th>
					<th scope="col">Client</th>
					<th scope="col">Montant Total</th>
					<th scope="col">Statut</th>
					<th scope="col">Code MCeF</th>
					<th style="width: 80px; min-width: 80px;">Action</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<!-- end table -->
	</div>
	<!-- end table responsive -->

	{% include "facture/__facture_details.html.twig" %}
	<!-- /.modal -->

{% endblock %}

{% block page_custom_scripts %}
	<!-- init js -->
	<script src="{{ asset('assets/js/custom/facture/liste-facture.init.js') }}"></script>
{% endblock %}
