{% extends "bundles/TwigBundle/Exception/layout.html.twig" %} 

{% block errorContent %}
    <h1 class="display-1 fw-semibold">4<span class="text-primary mx-2">0</span>4</h1>
    <h4 class="text-uppercase">Désolé, la page que vous essayez d'accéder est introuvable</h4>
    <div class="mt-5 text-center">
        <a class="btn btn-primary waves-effect waves-light" href="{{path('dashboard')}}">Retour au tableau de bord</a>
    </div>
{% endblock %}